<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>page</title>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>


<body class="container">
  <h1> THE STUDENTS </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Row</th>
        <th>Name</th>
        <th>Age</th>
        <th>Spirit Animal</th>
        <th>Squad</th>
        <th>...</th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      
      <% @students.each do |student| %>
        <tr>
          <td><%= student["student_id"] %></td>
          <td><%= student["name"] %></td> 
          <td><%= student["age"] %></td>
          <td><%= student["spirit_animal"] %></td>
          <td><%= student["squad_id"] %></td>
          <td><a href="/squads/:squad_id/students/:student_id">Show Student</a></td>
          <td><a href="/students/<%= student["squad_id"] %>/edit">Edit Student</a></td>

        </tr>
      <% end %>
      
    </tbody>
  
  </table> 
  <a href="/squads/:squad_id/students/new"> Add New Student</a> 
</body>
</html>