<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>page</title>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>


<body class="container squadback">
  <h1 class="title"> The Squads </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Row</th>
        <th>Name</th>
        <th>Mascot</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      
      <% @squads.each do |squad| %>
        <tr>
          <td><%= squad["id"]  %></td>
          <td><%= squad["name"] %></td> 
          <td><%= squad["mascot"] %></td>
          <td><a href="/squads/<%= squad["id"] %>/students">Students</a></td>
          <td><a href="/squads/<%= squad["id"] %>">Show More Info</a></td>
          <td><a href="/squads/<%= squad["id"] %>/edit">Edit Squad</a></td>
        </tr>
      <% end %>
      
    </tbody>
  
  </table> 
  <a href="/squads/new"> <div class="addbutton">
  Add New Squad
  </div></a> 
  <hr>
  <a href="/students"><div class="showall">
   Show All Students
  </div></a>
</body>
</html>


