<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>page</title>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>


<body class="container studentback">
  <h3 class="title"> The Following Students Are in This Squad:<%= @squad["name"] %> </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Row</th>
        <th>Name</th>
        <th>Age</th>
        <th>Spirit Animal</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      
      <% @students.each do |student| %>
        <tr>
          <td><%= student["student_id"] %></td>
          <td><%= student["name"] %></td> 
          <td><%= student["age"] %></td>
          <td><%= student["spirit_animal"]  %></td>
          <td><a href="/squads/<%= @squad["id"] %>/students/<%= student["student_id"] %>/edit">Edit Student</a></td>
          
        </tr>
      <% end %>
      
    </tbody>
  
  </table>  

  <a href="/squads/<%= @squad["id"] %>/students/new"><div class="addbutton">Add New Student To Squad
  </div></a>
  <hr>
  <a href="/squads"><div class="showall">
   Return  
  </div></a>
</body>
</html>